{% macro lecture_list(data) %}
  {% if data %}
    {% for lecture in data %}
      <div class="item">
        <ul>
          <li><img src="{{ url_for('static', filename='assets/images/game-02.jpg') }}" alt="" class="templatemo-item"></li>
          <li><h4>{{ lecture['topic'] }}</h4><span>{{lecture['courseName']}}</span></li>
          <li><h4>Author</h4><span>{{ lecture['author'] }}</span></li>
          <li><h4>Duration</h4><span>{{ lecture['duration'] }}</span></li>
          <li><h4>Price</h4><span>{{ lecture['price'] }}</span></li>
          <li><div class="main-border-button"><a href="{{ url_for('view.views', link=lecture['id'], thumbnail=lecture['img'], topics=lecture['topic'], courseName=lecture['courseName']) }}">Watch</a></div></li>
          
        </ul>
      </div>
    {% endfor %}
  {% else %}
    <p>No lectures found for this course.</p>
  {% endif %}
{% endmacro %}
