{% macro project_list(data) %}
  {% for project in data %}
    <div class="col-lg-3 col-sm-6">
      <div class="item cardborder"  data-href="{{ url_for('browse.browse_details', course_name=project['courseName']) | safe }}">
                
        <img style="height: 130px; margin: 10px 0px 10px 0px; " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ project['imageName'] }}" />

          
        <h4>{{ project['courseName'] }}<br><span>{{ project['price'] }}</span></h4>
        <ul>
          <li><i class="fa fa-star" style="color: #ffec51 ;"></i> {{ project['rating'] }}</li>
         <!-- <li><i class="fa fa-bookmark star"></i></li> -->
        </ul>
      </div>
    </div>
    
  {% endfor %}
{% endmacro %}
        

          