    
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.cardMain {
	background-color: #172439;
	font-family: 'Muli', sans-serif;

	align-items: center;
	justify-content: center;

	margin: 10px;
}

.courses-container {
	align-items: center;
	justify-content: center;
}

.course {
	
	
	overflow: hidden;
	align-items: center;
	justify-content: center;
	
	margin: 10px;
	padding: 0;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	border-radius: 10px;
	background-color: #7c3aed;
	color: #fff;
	padding: 30px;
	max-width: 350px;
	width: 100%;
	height: 100%; /* Added height: 100% */
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}
.course-preview img
{
	height: 25px;
	width: 25px;
	border-radius: 3px;
	margin-top: -5px;
	
}
.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #7c3aed;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #fff;
	border: 0;
	border-radius: 50px;
	color: black;
	font-size: 16px;
	padding: 10px 22px;
	position: absolute;
	margin-left: 85px;
	margin-top: 18px;
	letter-spacing: 1px;
	font-family: 'Muli', sans-serif;
}

