{% extends 'layout.html' %} {% block content %}

<!-- ***** New Browse ***** -->
{% if search_keyword %}
<h2>Search Results for "{{ search_keyword }}"</h2>
{% if search_results %}
    <div class="most-popular">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-section">
                    <h4># <em>{{ search_keyword }}</em></h4>
                </div>
                <div class="row">
                    <!-- Use the provided macro to display the search results -->
                    {{ project_list(search_results) }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>No courses found matching "{{ search_keyword }}".</p>
{% endif %}

{% else %}
{% endif %}

<!-- ***** Most Popular Start ***** -->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4># <em>Courses For Beginners</em></h4>
      </div>
      <div class="row">
        <!--macro from here-->
        {{ project_list(beginner) }}
      </div>
    </div>
  </div>
</div>
<!-- ***** Most Popular End ***** -->
<!--advance coder-->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4># <em>Advance Coding Courses</em></h4>
      </div>
      <div class="row">{{ project_list(advanced) }}</div>
    </div>
  </div>
</div>
        <!-- ***** Start Stream Start ***** -->
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4># <em>Courses Available</em></h4>
              </div>
              <div class="row">
                <!--macro from here-->
                {{ project_list(allCourses) }}
              </div>
            </div>
          </div>
        </div>
      <div class="col-lg-12">
        <div class="main-button">
          <a href="{{ url_for('profile.profile') }}">Go To Profile</a>
        </div>
      </div>
<!-- ***** Start Stream End ***** -->

{% endblock %}
