{% from 'macros/menu.html' import project_list %}
{% extends 'layout.html' %}

{% block content %}
  <!-- ***** New Browse ***** -->
 <!-- ***** Most Popular Start ***** -->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4># <em>Courses For Beginners</em></h4>
      </div>
      <div class="row">
        <!--macro from here-->
        {{ project_list(beginner) }}
      </div>
    </div>
  </div>
</div>
<!-- ***** Most Popular End ***** -->
<!--advance coder-->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4># <em>Advance Coding Courses</em></h4>
      </div>
      <div class="row">
        {{ project_list(advance) }}
      </div>
    </div>
  </div>
</div>
  <!-- ***** Start Stream Start ***** -->
  <div class="start-stream">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4><em>How To Start Your</em> Live Stream</h4>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="{{ url_for('static', filename='assets/images/service-01.jpg') }}" alt="" style="max-width: 60px; border-radius: 50%;">
            </div>
            <h4>Go To Your Profile</h4>
            <p>Cyborg Gaming is free HTML CSS website template provided by TemplateMo. This is Bootstrap v5.2.0 layout.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="{{ url_for('static', filename='assets/images/service-02.jpg') }}" alt="" style="max-width: 60px; border-radius: 50%;">
            </div>
            <h4>Live Stream Button</h4>
            <p>If you wish to support us, you can make a <a href="https://paypal.me/templatemo" target="_blank">small contribution via PayPal</a> to info [at] templatemo.com</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="{{ url_for('static', filename='assets/images/service-03.jpg') }}" alt="" style="max-width: 60px; border-radius: 50%;">
            </div>
            <h4>You Are Live</h4>
            <p>You are not allowed to redistribute this template's downloadable ZIP file on any other template collection website.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="main-button">
            <a href="{{ url_for('profile') }}">Go To Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Start Stream End ***** -->

{% endblock %}
