{% extends 'layout.html' %} {% block content %} 
{% include'components/indexBanner.html' %}

<!-- ***** Most Popular Start ***** -->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4>#<em> Popular</em> Courses</h4>
      </div>
      <div class="row">
        <!--macro from here-->
        {{ project_list(trending) }}
        <!-- macro ends -->

        <div class="col-lg-12">
          <div class="main-button">
            <a href="{{ url_for('browse.browse_home') }}">Discover Courses</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Most Popular End ***** -->
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h4># <em>CodeColts </em>Contributors</h4>
      </div>
      <div class="row">
       <h5>CodeColts Is an Open-Source Library Made Possible By its Contributors</h5>
       <!--github contributors here-->
      </div>
    </div>
  </div>
</div>
<!-- ***** Gaming Library Start ***** -->
<!--<div class="gaming-library">
  <!--<div class="col-lg-12">-->
    <!--<div class="heading-section">-->
      <!--<h4># <em>FAQs</em></h4>-->
      <!--include 'components/FAQ.html-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- ***** Gaming Library End ***** -->

{% endblock %}