<!DOCTYPE html>
<html lang="en">
  {% from 'macros/menu.html' import project_list %}
  {% from'macros/lectures.html' import lecture_list %}

  <head>
    {% include 'components/headmeta.html' %}
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="{{ url_for('index.index') }}" class="logo">
                <img
                  src="{{ url_for('static', filename='assets/images/logo.png') }}"
                  alt=""
                />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Search start ***** -->
              <div class="search-input">
                <form id="search" method="POST" action="{{ url_for('browse.browse_home') }}">
                    <input
                        type="text"
                        placeholder="Search Courses"
                        id="searchText"
                        name="searchKeyword"
                        value="{{ search_keyword }}"
                    /> <!-- Display the search keyword if it was submitted -->
                    <i type="submit" class="fa fa-search"></i>

                </form>
            </div>
              <!-- ***** Search End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="{{ url_for('index.index') }}" id="home">Home</a></li>
                <li>
                  <a href="{{ url_for('browse.browse_home') }}" id="browse">Browse</a>
                </li>
                <li>
                  <a href="{{ url_for('login.login') }}" id="logout">Logout</a>
                </li>
                <li>
                  <a href="{{ url_for('profile.profile') }}" id="profile">Profile
                    <img
                      src="{{ url_for('static', filename='assets/images/profile-header.jpg') }}"
                      alt=""
                  /></a>
                </li>
                <!-- Add more items as required -->
              </ul>

              <script>
                // Get the current page URL path
                var currentPath = window.location.pathname;

                // Get the menu item with a matching URL and add the "active" class
                if (currentPath === "{{ url_for('index.index') }}") {
                  document.getElementById("home").classList.add("active");
                } else if (currentPath === "{{ url_for('browse.browse_home') }}") {
                  document.getElementById("browse").classList.add("active");
                }  else if (currentPath === "{{ url_for('profile.profile') }}") {
                  document.getElementById("profile").classList.add("active");
                } else if (currentPath === "{{ url_for('login.login') }}") {
                  document.getElementById("logout").classList.add("active");
                }
              </script>

              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content" style="padding-top: 8vh ;">
            <!--block content start-->
            {% block content %}
            {% endblock %}
            <!--block content end-->
          </div>
        </div>
      </div>
    </div>

    <footer style="margin-top: 10vh">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              Copyright © 2023 The <a href="#">CodeColts</a> Company. All rights
              reserved.

              <br />
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  <!-- Include jQuery library if not already included in your project -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  // JavaScript code to handle the click event on the item divs
  $(document).ready(function() {
    $('.item').click(function() {
      var url = $(this).data('href');
      if (url) {
        window.location.href = url;
      }
    });
  });
</script>

  </body>
</html>
