<div class="col-lg-3 col-sm-6" id="easter-content" style="display: none;">
    <div class="item cardborder">
              
      <img alt="hidden funny cat!" style="height: 130px; margin: 10px 0px 10px 0px; " src="{{ url_for('static', filename='assets/images/cat.jpeg') }}" />

        
      <h4>MIAO<br><span>$999,999</span></h4>
      <ul>
        <li><i class="fa fa-star" style="color: #ffec51 ;"></i> 25</li>
       <!-- <li><i class="fa fa-bookmark star"></i></li> -->
      </ul>
    </div>
  </div>