<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
  content="Learn Python, Java, JavaScript and more for free with industry-ready courses for beginners at CodeColts. Start your programming journey today." />
<meta name="keywords" content="coding, python, JavaScript, nodejs,  programming, beginners, free courses, CodeColts" />
<link rel="canonical" href="https://www.codecolts.com" />
<meta name="robots" content="index, follow" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet" />

<title>CodeColts - Free Coding Courses for Beginners</title>


<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

<!-- Additional CSS Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/sass/' ~ theme_css ~ '.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" />
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

<script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon.svg') }}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JGN7Q5S0L3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-JGN7Q5S0L3');
</script>