<header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{ url_for('index') }}" class="logo">
              <img
                src="{{ url_for('static', filename='assets/images/logo.png') }}"
                alt=""
              />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Search End ***** -->
            <div class="search-input">
              <form id="search" action="#">
                <input
                  type="text"
                  placeholder="Type Something"
                  id="searchText"
                  name="searchKeyword"
                  onkeypress="handle"
                />
                <i class="fa fa-search"></i>
              </form>
            </div>
            <!-- ***** Search End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{{ url_for('index') }}" id="home">Home</a></li>
              <li>
                <a href="{{ url_for('browse') }}" id="browse">Browse</a>
              </li>
              <li>
                <a href="{{ url_for('login') }}" id="details">Logout</a>
              </li>
              <li>
                <a href="{{ url_for('profile') }}" id="profile"
                  >Profile
                  <img
                    src="{{ url_for('static', filename='assets/images/profile-header.jpg') }}"
                    alt=""
                /></a>
              </li>
              <!-- Add more items as required -->
            </ul>

            <script>
              // Get the current page URL path
              var currentPath = window.location.pathname;

              // Get the menu item with a matching URL and add the "active" class
              if (currentPath === "{{ url_for('index') }}") {
                document.getElementById("home").classList.add("active");
              } else if (currentPath === "{{ url_for('browse') }}") {
                document.getElementById("browse").classList.add("active");
              } else if (currentPath === "{{ url_for('details') }}") {
                document.getElementById("details").classList.add("active");
              } else if (currentPath === "{{ url_for('profile') }}") {
                document.getElementById("profile").classList.add("active");
              }
            </script>

            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->